* text=auto eol=lf

*.php text
*.md text
*.css text
*.js text
*.json text
*.xml text
*.yml text
*.yaml text

*.svg text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary

composer.lock text